{% extends "base.html" %}

{% block content %}
<div class="d-flex flex-column justify-content-center align-items-center text-center mt-5">
    <h2 class="mb-3">Welcome to Dzongkha NLP Summarizer</h2>
    <p class="mt-3 text-secondary mb-3">
        Automatically generate concise summaries of Dzongkha essays using <strong>POS-weighted extractive techniques</strong>.
    </p>
    <p>
        Use the <strong>Essay</strong> page to view the full essay, or the <strong>Summarizer</strong> page to see a generated summary.
    </p>
</div>
{% endblock %}
